{% extends 'catalog/base.html' %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6 shadow-sm p-4 rounded bg-white border">
        <h2 class="fw-bold mb-4">{% if object %}Редактировать статью{% else %}Новая статья{% endif %}</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-success w-100 py-2 mt-3">Сохранить статью</button>
        </form>
    </div>
</div>
{% endblock %}
